# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cmake
Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake

# Binaries
bin/*
build/*
gTorrent

# Ignore vim swp files
*.swp

# ctag files
tags

# For fags using jetbrain IDEs
.idea/

# Version.hpp
Version.hpp